/*Notas Personales
 para facilitarme el codigo he convertido los rgb a hex
 
 azul         67.163.230 = #43a3e6
 azul Oscuro  25.33.41   = #192129
 Texto         0.0.0     = #000000 
 */

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto";
    font-stretch: condensed;
}

h1 {
    font-size: 9em;
    transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 5em;
    text-align: center;
    transform: uppercase;
    color: #ffffff;
    text-shadow: #020819 8px -20px 9px;
}

h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}

h5 {
    font-size: 1.2em;
    line-height: 1em;
}

.nav-bar {
    background-color: #192129;
    padding: 14px 0;
}

.nav-bar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
}

.header {
    height: 650px;
    background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote p,
.quote p i {
    font-size: 20px;
}

.dark-backgrund {
    background-color: #192129;
    color: #ffffff;
    /* text-align: center; */
}

.text {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.link-btn {
    background-color: #43a3e6;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

.service-box {
    font-size: 1.7em;
    text-align: center;
}

.service-box img {
    width: 125px;
}

#equipo .section-text {
    font-size: 1.9em;
    text-align: center;
}

#equipo .member-name {
    font-size: 1.5em;
    font-weight: 700;
}

#equipo img {
    width: 200px;
    height: 180px;
}

.footer {
    font-size: 1.9em;
    text-align: center;
}

.address {
    font-size: 0.8em;
    font-style: normal;
}

.footer a {
    color: #43a3e6;
    text-decoration: none;
}